<div class="header">
  <div class="header-container">
    <a href="https://theartofcommunication.org" class="logo-container">
      <img src="../assets/logo.png" alt="logo" />
    </a>
    <div class="menu">
      <div class="menu-container">
        <a
          class="menu-item"
          href="https://theartofcommunication.org/the-7-frequencies-of-communication/"
          >THE 7 FREQUENCIES</a
        >
        <a
          class="menu-item"
          href="https://theartofcommunication.org/the-art-of-communication/"
          >THE ART OF COMMUNICATION</a
        >
        <a
          class="menu-item"
          href="https://theartofcommunication.org/the-communicators-tool-kit/"
          >FREE MINI COURSE</a
        >
        <a
          class="menu-item"
          href="https://theartofcommunication.org/testimonials/"
          >TESTIMONIALS</a
        >
      </div>
    </div>
    <div class="action-container">
      <svg
        width="116"
        height="38"
        viewBox="0 0 116 38"
        fill="none"
        style="
          width: 116px;
          height: 100px;
          color: black;
          overflow: visible !important;
          position: absolute;
        "
      >
        <path
          class=""
          stroke="#21201f"
          d="M115.5 19C115.5 21.4007 114.015 23.7706 111.136 26.0004C108.264 28.225 104.076 30.2501 98.8565 31.9599C88.4232 35.3777 73.9782 37.5 58 37.5C42.0218 37.5 27.5768 35.3777 17.1435 31.9599C11.9241 30.2501 7.73645 28.225 4.86409 26.0004C1.98508 23.7706 0.5 21.4007 0.5 19C0.5 16.5993 1.98508 14.2294 4.86409 11.9996C7.73645 9.775 11.9241 7.74992 17.1435 6.04013C27.5768 2.62231 42.0218 0.5 58 0.5C73.9782 0.5 88.4232 2.62231 98.8565 6.04013C104.076 7.74992 108.264 9.775 111.136 11.9996C114.015 14.2294 115.5 16.5993 115.5 19Z"
          stroke-width="1"
        ></path>
      </svg>
      <a class="action-link" href="https://theartofcommunication.org/purchase"
        >PURCHASE</a
      >
    </div>
  </div>
</div>
