<div class="header">
	<!-- <div class="header-container"> -->
	<a href="https://theartofcommunication.org" class="logo-container">
		<!-- <img src="../assets/logo.png" alt="logo" /> -->
		7
	</a>
	<!-- <div class="menu">
      <div class="menu-container">
        <a
          class="menu-item"
          href="https://www.erwinmcmanus.com/thearena"
          >The Arena</a
        >
        <a
          class="menu-item"
          href="https://theartofcommunication.org/the-communicators-tool-kit/"
          >FREE MINI COURSE</a
        >
        <a
          class="menu-item"
          href="https://www.erwinmcmanus.com/"
          >Erwin Mcmanus</a
        >
      </div>
    </div> -->
	<div class="action-container">
		<a class="more-info-button" mat-button href="https://www.thesevenfrequencies.com/">
			More Info
		</a>
	</div>
	<!-- </div> -->
</div>
