@import 'variables.scss';

.question {
  margin-top: 40px;
  width: 630px;
  background-color: #fff;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  position: absolute;

  @media (max-width: $mobile-width) {
    width: auto;
    max-width: 100vw;
    padding: 40px;
  }
}

.question-title {
  font-size: 24px;
  line-height:33px;
  font-family: Benzin-Bold, sans-serif;
  text-align: center;
  text-transform: uppercase;
  min-height: 60px;

  @media (max-width: $mobile-width) {
    font-size:18px;
    line-height: 24px;
  }
}

.question-hint {
  font-family: 'Belgrano' ,serif;
  font-size: 12px;
  line-height: 19px;
  color: #797979;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2px;

  @media (max-width: $mobile-width) {
    position: absolute;
    bottom: -35px;

    &:first-child {
      left: 0;

    }
    &:last-child {
      right: 0;
    }
  }
}
.questions-counter {
  font-family: Benzin-medium, sans-serif;
  color : #74807E;
  text-align: center;
  margin-bottom: 32px;
  letter-spacing: 4px;
}

.question-options {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  border-radius: 0!important;

  @media (max-width: $mobile-width) {
    position: relative;
    // margin-top: 60px;
  }
}
.question-buttons {
  margin: 0 24px;
  display: flex;
  border: none!important;
  border-radius:0;

}
.question-button {
  border: solid 1px #e0e0e0;

  &:not(:last-of-type) {
    margin-right: 32px;
  }

  @media (max-width: $mobile-width) {
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}

.question-options-group {
  display: flex;
  flex-direction: column;
}

.question-button-container {
  font-family: Supply-Regular, sans-serif;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $mobile-width) {
    margin-top: 70px;
  }
}
.next-button {
  font-family: 'Benzin-Medium', sans-serif;
  border-radius: 0;
  text-transform: uppercase;
  width: 140px;
  height: 40px;
  &:not(:disabled) {

    background-color: #212121;
  }
}

::ng-deep .mat-button-toggle {
  width: 50px !important;
  height: 50px !important;
}
::ng-deep .mat-button-toggle-label-content {
  font-family: 'Benzin-Medium', sans-serif;
  font-size: 16px;
}


// ::ng-deep .mdc-button {
//   font-family: Supply-Regular, sans-serif;
//   width: 100px;
//   height: 40px;
// }

.next-button {
  color: #fff !important;
}

::ng-deep .mat-button-toggle-checked {
  background-color: #85ADDD !important;
  .mat-button-toggle-label-content {
    color: #fff !important;
  }
}