<div class="question">
  <div class="question-title">{{ question.description }}</div>
  <form class="question-options" [formGroup]="form">
    <span class="question-hint">Strongly disagree</span>
    <mat-button-toggle-group
      aria-label="Select an option"
      formControlName="selectedOption"
    >
      <mat-button-toggle [value]="1">1</mat-button-toggle>
      <mat-button-toggle [value]="2">2</mat-button-toggle>
      <mat-button-toggle [value]="3">3</mat-button-toggle>
      <mat-button-toggle [value]="4">4</mat-button-toggle>
      <mat-button-toggle [value]="5">5</mat-button-toggle>
    </mat-button-toggle-group>
    <span class="question-hint">Strongly agree</span>
  </form>

  <div class="question-button-container">
    <span>{{ questionIndex + 1 }} / {{ totalQuestions }}</span>
    <button
      class="next-button"
      mat-raised-button
      [disabled]="!form.dirty"
      color="primary"
      (click)="onNextClick()"
    >
      {{ questionIndex + 1 === totalQuestions ? "Finish" : "Next" }}
    </button>
  </div>
</div>
