@font-face {
  font-family: 'Supply-Regular';
  src: url('../fonts/Supply-Regular.woff2') format('woff2'),
    url('../fonts/Supply-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Maple-Bold';
  src: url('../fonts/Maple-Bold.woff2') format('woff2'),
    url('../fonts/Maple-Bold.otf') format('otf');
}