@import '@angular/material/theming';

$primary: mat-palette($mat-blue, A100);
$accent: mat-palette($mat-blue, A100);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);