$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 600px;
$xs-width: 376px;

$beige: #f3f0e8;
$gray: #74807e;
$gray-light: #a0a29a;
$black: #212121;
$green: #5e6153;
$off-white: #f5f3e8;

$font-family: Pompei-Pro, serif;
$font-secondary: Helvetica, sans-serif;
