@import 'variables.scss';

.results {
	background-color: $off-white;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	z-index: 20;

	//TEMP WITH LAME RESULTS PAGE
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.results-title {
	font-family: $font-family;
	line-height: 60px;
	text-transform: uppercase;
	font-size: 51px;
	color: $green;

	text-align: center;
	position: relative;
	margin-bottom: 10px;

	@media (max-width: $mobile-width) {
		margin-bottom: 8px;
		font-size: 32px;
		line-height: 38px;
	}
}

.results-subtitle {
	font-family: $font-secondary;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
	color: $green;
	text-align: center;

	@media (max-width: $mobile-width) {
		font-size: 12px;
	}
}

.results-content {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-top: auto;
	padding: 0 20px;
}
.back-btn {
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 20px;
}

.more-info-button {
	font-family: $font-family;
	font-size: 16px;
	border-radius: 0;
	text-transform: uppercase;
	height: 42px;
	position: absolute;
	right: 30px;
	top: 25px;

	color: $green !important;

	@media (max-width: $mobile-width) {
		min-width: auto;
		padding-left: 32px;
		padding-right: 32px;
	}
}

.mobile-only-section {
	padding: 30px;
	padding-bottom: 100px;
	text-align: center;

	img {
		width: 100%;
		margin-bottom: 60px;
	}

	@media (min-width: $desktop-width) {
		display: none;
	}
	.book-title {
		font-family: $font-family;
		font-size: 24px;
		line-height: 27px;
		color: $green;
		font-weight: 400;
		padding: 0 30px;
		margin-bottom: 30px;
	}
	.purchase-button {
		font-family: $font-family;
		font-weight: 400;
		color: $beige;
		background-color: $green;
		padding: 20px 32px;
		border: none;
		outline: none;
		font-size: 16px;
		cursor: pointer;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
}

// .quiz-result {
// 	min-height: 100vh;
// 	width: 100%;
// 	display: flex;

// 	@media (max-width: $desktop-width) {
// 		flex-direction: column;
// 	}

// 	&__left {
// 		width: 50%;
// 		background: $off-white;
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 		justify-content: flex-start;
// 		text-align: center;
// 		padding: 90px 0;

// 		.frequency-name {
// 			display: flex;
// 			flex-direction: column;
// 			justify-content: center;
// 			align-items: center;
// 		}

// 		.outline {
// 			font-family: $font-family;
// 			font-size: 16px;
// 			text-transform: uppercase;
// 			color: $green;
// 			max-width: 400px;
// 			margin-bottom: 50px;
// 			line-height: 22px;
// 		}
// 		.title {
// 			font-family: Helvetica, sans-serif;
// 			font-size: 88px;
// 			line-height: 110px;
// 			color: #c8943a;
// 			text-transform: uppercase;
// 		}
// 		.results-photo {
// 			width: 200px;
// 			min-height: 290px;
// 			object-fit: contain;
// 			margin-bottom: 50px;
// 		}

// 		.pre-title {
// 			font-family: Helvetica, sans-serif;
// 			font-size: 12px;
// 			text-transform: uppercase;
// 			color: $green;
// 			margin-bottom: 35px;
// 		}
// 		.book-title {
// 			margin-bottom: 100px;
// 			color: $green;
// 			text-transform: uppercase;
// 		}

// 		.purchase-link {
// 			font-family: Helvetica, sans-serif;
// 			font-weight: 700;
// 			font-size: 16px;
// 			color: $green;
// 			letter-spacing: 1.5px;
// 		}

// 		@media (max-width: $desktop-width) {
// 			flex-direction: column;
// 			padding: 54px 0;
// 			justify-content: center;
// 			width: 100%;

// 			.book-title {
// 				display: none;
// 			}
// 			.frequency-name {
// 				order: 2;

// 				.title {
// 					line-height: 100px;
// 				}
// 			}
// 			.purchase-link-wrapper {
// 				display: none;
// 			}
// 			.outline {
// 				margin-bottom: 0;
// 			}

// 			.pre-title {
// 				margin-bottom: 24px;
// 			}
// 		}

// 		@media (max-width: $mobile-width) {
// 			// padding: 0 12px;
// 			padding-left: 20px;
// 			padding-right: 20px;

// 			.frequency-name {
// 				.title {
// 					line-height: 60px;
// 					font-size: 50px;
// 				}
// 			}
// 			.results-photo {
// 				margin-bottom: 32px;
// 			}

// 			.back-btn {
// 				left: 0px;
// 				top: 0px;
// 				position: fixed;
// 				mix-blend-mode: difference;
// 			}
// 		}
// 	}

// 	&__right {
// 		min-height: 100vh;
// 		width: 50%;
// 		padding: 90px 84px;
// 		text-align: center;
// 		margin: 0 auto;
// 		background-color: $green;

// 		@media (max-width: $desktop-width) {
// 			padding: 40px 0;
// 			justify-content: center;
// 			width: 100%;
// 			min-height: unset;
// 		}

// 		.item {
// 			margin-bottom: 32px;

// 			&:last-child {
// 				margin-bottom: 0;
// 			}
// 		}

// 		.name {
// 			font-family: Helvetica, sans-serif;
// 			font-size: 12px;
// 			line-height: 16px;
// 			color: $off-white;
// 			margin-bottom: 6px;
// 			text-transform: uppercase;
// 		}
// 		.value {
// 			font-family: $font-family;
// 			font-size: 16px;
// 			line-height: 24px;
// 			color: $off-white;
// 			text-transform: uppercase;
// 			margin-bottom: 0;
// 		}

// 		@media (max-width: $mobile-width) {
// 			padding-left: 20px;
// 			padding-right: 20px;

// 			.name {
// 				font-size: 10px;
// 			}
// 			.value {
// 				font-size: 14px;
// 			}
// 		}
// 	}
// }

.results-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	margin-top: auto;
	padding-bottom: 30px;
	font-family: $font-family;
	align-items: center;
	font-size: 16px;
	color: $green;
	text-transform: uppercase;
	padding: 24px;
	width: 100%;
	.logo-footer {
		width: 40px;
		&:last-child {
			// margin-top: 8px;
			width: 50px;
		}
	}

	.hide-desktop {
		display: none;
	}

	p {
		margin-bottom: 0;
	}

	@media (max-width: $mobile-width) {
		flex-direction: column;

		.logo-footer {
			&.hide-desktop {
				display: block !important;
			}

			&.hide-mobile {
				display: none;
			}
		}
		.mobile-logos {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 12px;
			img {
				margin-top: 0;
				margin-bottom: 0;

				&:first-child {
					margin-right: 12px;
				}
			}
		}
	}

	@media (max-width: $xs-width) {
		padding-bottom: 0;
	}
}
