@import 'variables.scss';

.quiz {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	min-height: calc(100vh - 48px - 113px);

	font-family: Pompei-Pro, sans-serif;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	@media (max-width: $mobile-width) {
		min-height: calc(100vh - 24px - 113px);
	}
}

.quiz-header {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 860px;
	margin-top: 133px;
	text-transform: uppercase;

	@media (max-width: $mobile-width) {
		margin-top: 20px;
		padding: 0 15px;
	}
}

.quiz-title {
	font-family: $font-family;
	margin-top: 80px;
	font-size: 65px;
	line-height: 72px;
	text-align: center;
	color: $off-white;
	margin-bottom: 20px;

	@media (max-width: $tablet-width) {
		font-size: 52px;
		line-height: 56px;
		margin-bottom: 12px;
	}
	@media (max-width: $xs-width) {
		font-size: 48px;
		line-height: 56px;
		margin-bottom: 12px;
	}
}

.quiz-subtitle {
	font-size: 48px;
	line-height: 48px;
	color: $off-white;
	text-align: center;
	margin-bottom: 48px;

	@media (max-width: $mobile-width) {
		font-size: 24px;
	}
}

.start-quiz-button {
	margin-top: 20px;
	color: $off-white !important;
	border-radius: 0;
	height: 50px;
	box-shadow: none;
	text-transform: uppercase;
	border-color: $off-white;

	@media (max-width: $mobile-width) {
		height: 50px;
		width: 100%;
		margin-top: 20px;
	}
}

.quiz-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&--started {
		.quiz-logo {
			margin-bottom: auto;
		}
	}
	&--finished {
		padding-bottom: 50px;
		.quiz-logo {
			margin-bottom: 30px;
		}
	}

	&--started,
	&--finished {
		position: absolute;
		width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: #f3f0e8;
		padding-bottom: 50px;
	}
	@media (max-width: $mobile-width) {
		margin-top: 0;

		&--started {
			.quiz-logo {
				margin-bottom: auto;
			}
		}
		&--finished {
			.quiz-logo {
				margin-bottom: 30px;
			}
		}
	}
}

.quiz-logo {
	color: $green;
	font-family: $font-family;
	z-index: 3;
	margin-top: 80px;
	font-size: 47px;
	line-height: 65px;

	@media (max-width: $mobile-width) {
		margin-top: 50px;
	}
}

.quiz-progress {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;

	.mat-mdc-progress-bar {
		--mdc-linear-progress-track-height: 10px;
		--mdc-linear-progress-active-indicator-height: 10px;
		--mdc-linear-progress-active-indicator-color: #a0a29a;
		--mdc-linear-progress-track-color: #c8c8c8;
	}
}

@keyframes moveAndDisappear {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-100%);
	}
}

.quiz-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	padding-bottom: 30px;
	font-family: $font-family;
	align-items: center;
	font-size: 16px;
	color: $off-white;
	padding: 24px;
	width: 100%;
	.logo-footer {
		width: 40px;
		&:last-child {
			// margin-top: 8px;
			width: 50px;
		}
	}

	.hide-desktop {
		display: none;
	}

	p {
		margin-bottom: 0;
	}

	@media (max-width: $mobile-width) {
		flex-direction: column;

		.logo-footer {
			&:last-child {
				// width: 40px;
			}
			&.hide-desktop {
				display: block !important;
			}

			&.hide-mobile {
				display: none;
			}
		}
		.mobile-logos {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 12px;
			img {
				margin-top: 0;
				margin-bottom: 0;

				&:first-child {
					margin-right: 12px;
				}
			}
		}
	}

	@media (max-width: $xs-width) {
		padding-bottom: 0;
	}
}

.footer-text {
	font-size: 11px;
	margin: 0 30px;
	font-family: Helvetica, sans-serif;
	text-transform: uppercase;
}

.mat-mdc-progress-spinner {
	--mdc-circular-progress-active-indicator-color: #5e6153;
}

.results-loading-spinner {
	z-index: 5;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -60%);
}
