@import 'variables.scss';

.quiz {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.quiz-header {
  margin-top: 40px;
  width: 100%;

  @media (max-width: $mobile-width) {
    margin-top: 20px;
  }
}

.quiz-title {
  font-size: 75px;
  line-height: 75px;
  text-align: center;
  font-family: Maple-Bold, serif;

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
  }
}

.quiz-subtitle {
  font-family: Supply-Regular, sans-serif;
  font-size: 16px;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 14px;
  }
}

.quiz-container {
  padding-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    margin-top: 0;
  }
}

.quiz-progress {
  width: 100%;
  width: 600px;
}


@keyframes moveAndDisappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}