@import 'variables.scss';

.admin-page {
	display: flex;
	align-items: center;
	justify-content: center;
}

.admin-page-container {
	width: 100%;
	max-width: 1400px;
	display: flex;
	align-items: center;
	flex-direction: column;

	@media (max-width: $mobile-width) {
		padding: 0 20px 40px;
	}
}

.admin-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: $mobile-width) {
		flex-direction: column-reverse;
		justify-content: start;
		align-items: flex-start;
	}
}

.user-container {
	display: flex;
	flex-direction: column;
	gap: 16px;

	.manage-codes-btn {
		color: #fff !important;
	}

	@media (max-width: $mobile-width) {
		align-items: center;
		width: 100%;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
	}
}

.user-name {
	margin-right: 20px;
}

.admin-title {
	margin-top: 40px;
	font-size: 32px;
	line-height: 32px;
	font-family: Supply-Regular, sans-serif;

	@media (max-width: $mobile-width) {
		margin-top: 20px;
	}
}

.admin-table {
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 4px;
	width: 400px;
	max-width: 90%;
}

.modal-actions {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;

	button {
		margin-left: 10px;
		padding: 6px 12px;

		&.generate-codes-btn {
			min-width: 160px;
		}
	}
}

::ng-deep .success-snackbar {
	.mdc-snackbar__surface {
		--mdc-snackbar-container-color: #4bb543;
	}

	.mdc-snackbar__action {
		--mat-snack-bar-button-color: #fff;
	}

	.mdc-snackbar__label {
		text-transform: uppercase;
	}
}
.progress-spinner {
	// position: absolute;
	// left: 50%;
	// top: 50%;
	// transform: translate(-50%, -50%);

	::ng-deep .mat-mdc-progress-spinner {
		width: 24px !important;
		height: 24px !important;
	}
}
